.image-detail-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  margin: 20px auto;
  width: clamp(500px, 100%, 1100px);
  padding: 20px;
  /* take whole available height: */
  height: clamp(400px, 90%, 100vh);
}

/* first level children */
.imageDetail-image-container {
  position: relative;
  width: 65%;
}
.imageDetail-desc-container {
  margin: 10px 0px 10px 30px;
  padding: 20px;
  width: 35%;
  height: 100%;
  background: rgb(20, 20, 20);
  box-shadow: -4px -4px 15px #6e696945;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: 300;

}
.imageDetail-image {
    width: 100%;
    object-fit: contain;
    max-height: 80vh;
}

.imageDetail-desc-element{
  margin: 10px 0;

  text-align: left;
}

.imageDetail-desc-title {
  font-size: 1.2rem;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  margin:0 auto;
}

.imageDetail-desc-description {
  margin: 40px auto;
  font-style: italic;
  text-align: center;
  font-weight: 100;
}

.imageDetail-desc-prompt {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #0c0c0d;
  box-shadow: -4px -4px 15px #6e696945;
  transition: border-color 0.25s;
}
.imageDetail-desc-pprompt {
  border: 2px solid rgba(0, 128, 0, 0.3);
}
.imageDetail-desc-nprompt {
  border: 2px solid rgba(255, 0, 0, 0.3);
}
.imageDetail-desc-pprompt:hover {
  border: 2px solid rgba(0, 128, 0, 0.8);
}
.imageDetail-desc-nprompt:hover {
  border: 2px solid rgba(255, 0, 0, 0.8);
}

.imageDetail-likes {

  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .image-detail-container {
    flex-direction: column;
    height: auto;
    width:100%;
  }
  .imageDetail-image-container {
    width: 100%;
  }
  .imageDetail-desc-container {
    width: 100%;
  }
  .imageDetail-desc-container {
    margin: 30px 0px 0px 0px;
  }
}